.popup-tag {
    position: absolute;
    display: none;
    background-color: #785448d4;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
}

.img-sty {
    margin-right: 4px;
}
